<%- partial('_partial/head') %>

<body>
<header id="header"><%- partial('_partial/header') %></header>
<div id="main" class="container">
    <div class="row">
        <!--左边区域-->
         <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
            <div id="article-list">
                <%- body %>
            </div>
        </div>
        <!--右边区域-->
         <div class="col-lg-3 col-md-3 hidden-sm hidden-xs">
            <%- partial('_partial/sidebar') %>
        </div>
    </div>
</div>
<footer id="footer" class="container"><%- partial('_partial/footer') %></footer>
<%- partial('_partial/after_footer') %>
</body>
</html>