<!-- Fixed navbar -->
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="<%- config.root %>" title="<%= config.subtitle %>"><%= config.title %></a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <!--<li class="active"><a href="#">Home</a></li>-->
                <% for (var i in theme.menu){ %>
                <li><a href="<%- theme.menu[i] %>"><%= i %></a></li>
                <% } %>
                <li><a href="/atom.xml">RSS</a></li>
            </ul>
            <%- partial('_widget/search') %>

        </div>
        <!--/.nav-collapse -->
    </div>
</div>
